h1 {
    font-family: "Lucida Bright", Georgia, serif;
    font-size: 500%;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 0%;
    color: rgb(245, 245, 245);
}

h3 {
    font-family: "Lucida Bright", Georgia, serif;
    font-style: normal;
    font-size: 200%;
    font-variant: normal;
    font-weight: 700;
}

button {
    font-family: "Lucida Bright", Georgia, serif;
    font-style: normal;
    font-size: 100%;
    font-variant: normal;
    font-weight: 700;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border-color: rgb(244, 244, 244);
    border-style: solid;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 10%;
    padding-right: 10%;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #ac2626;
    /* Green */
    color: rgb(255, 255, 255);
}

p {
    font-size: 140%;
    font-family: "Lucida Bright", Georgia, serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    color: rgb(255, 255, 255);

}



html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;

}

.elm {}

.name {
    text-align: center;
    align-items: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
}

#cornerSquare {
    position: fixed;
    top: 0;
    z-index: -2;
}

#interactive {
    position: fixed;
    top: 0;
    z-index: -1;
}